body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 5px;
    touch-action: manipulation;
}

.tile {
    width: 150px;
    height: 150px;
    background-color: #aaa;
    cursor: pointer;
    border: 2px solid #333;
    box-sizing: border-box;
    border-radius: 10px;
}