body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #333;
}

body,
.grid,
.tile,
.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 8px;
}

.tile {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-color: #aaa;
  transition: background-color 0.5s ease;
  background-clip: padding-box;
  /* border: 2px solid #333; */
  border-radius: 12px;
}

.button {
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px 30px;
  width: 200px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  background-color: #aaa;
  transition: background-color 0.5s ease;
  border: 2px solid #333;
  border-radius: 8px;
  font-variant: small-caps;
}

.streak {
  margin-top: 20px;
  color: #fff;
  font-size: 30px;
  font-variant: small-caps;
}