body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #333;
  user-select: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  gap: 8px;
  touch-action: manipulation;
  user-select: none;
}

.tile {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background-color: #aaa;
  transition: background-color 0.5s ease;
  background-clip: padding-box;
  /* border: 2px solid #333; */
  border-radius: 12px;
  user-select: none;
}

.button {
  box-sizing: border-box;
  margin-top: 50px;
  padding: 20px 30px;
  width: 200px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  background-color: #aaa;
  transition: background-color 0.5s ease;
  border: 2px solid #333;
  border-radius: 8px;
  font-variant: small-caps;
  user-select: none;
}
